.home-container{
    display: flex;
    border: 1px solid red;
}

.logo-app{
    width: 100px;
}

.navbar{
    margin: auto;
}
.navbar > ul{
    display: flex;
    margin-left: 600px;
    font-size: 20px;
    justify-content: center;
}

.navbar > ul >li{
    list-style: none;
    padding: 5px;
    margin: 0px;
}

.res-card{
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

.res-card:hover{
    border:1px solid red;
    cursor: pointer;
}

.res-logo{
    width:100%;
    height:150px;
}

.res-list{
display: flex;
flex-wrap: wrap;
margin: 5px;
}

.search{
    padding: 10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.shimmer-card{
    width : 200px;
    height:400px;
    background-color: #f0f0f0;
    margin: 5px;
}

.cuisine-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
